.layout {
  &_container {
    background-color: var(--color-gray-01);

    &_controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1rem 0;
    }

    &_content {
      border-radius: 5px;
      padding: 2rem;
      position: relative;
    }
  }
}
.title {
  font-size: 2.4rem;
  text-align: center;
}
